<script language="JavaScript" type="text/javascript">
  $(document).ready(function(){
      a = $('.m_flex').css('width');
      $('.m_flex').css('height', a);
      $(window).resize(function() {
          a = $('.m_flex').css('width');
          $('.m_flex').css('height', a);
      });
      console.log(a);
  });
</script>


<div class="my_top1">
  <span class="mt_1"><%= current_user.nickname %> 님의</span>
  <br>
  <span class="mt_2">나만의 파우치</span></div>
<div class="my_top2">
  <div class="m_flex">
      <div class="m_faceimg"><img src="<%= asset_path 'face.png'%>" alt=""><br>
        <span style="font-size:1.3em;font-weight:700; color:#888;">
          <% if current_user.userspec != nil %>
            <%= link_to "나만의 분석", edit_userspec_path(current_user.userspec) %>
          <% elsif %>
            <%= link_to "나만의 분석", new_userspec_path %>
          <% end %>
        </span>
      </div>
  </div>
  <div class="m_flex" style="background:#f475ab;border:0;">
      <div class="m_flex_type">
        <span style="font-size:1.3em; font-wieght:700; ">피부타입</span><br>
        <span style="font-size:3em; font-weight:100;">
          <% if current_user.userspec != nil %>
            <%= @userspec.skintype %>
          <% elsif %>
            ←
          <% end %>
        </span><br><br>
        
        <span style="font-size:1.3em; font-wieght:700; ">그루밍단계</span><br>
        <span style="font-size:3em; font-weight:100;">   
          <% if current_user.userspec != nil %>
            <%= @userspec.usertype %>
          <% elsif %>
            ←
          <% end %>       
        </span>
      </div>

  </div>
  <div class="m_flex_result" style="flex:2;margin-right:0px;flex-direction:column;">
      <div>
        <p>트러블</p>
        <% if current_user.userspec != nil %>
          <%
            box = ['주름', '피지', '잡티', '모공', '탄력저하', '아토피', '여드름',
                   '건조', '뾰루지', '각질', '기미', '다크써클', '두피여드름', '두피각질',
                   '탈모', '바디여드름', '바디각질', '바디건조']
            key = ['wrinkle', 'sebum', 'stain', 'bigpore', 'down', 'atopy', 'pimple',
                   'skindry', 'eruption', 'deadcell', 'freckle', 'dark', 'hairpimple',
                   'haircell', 'hairlose', 'bodypimple', 'bodycell', 'bodydry']
            i = 0
          %>
          <p>
            <% key.each do |k| %>
              <% if @userspec[k] == true %>
                <span class="my-skinpro"><%= box[i] %></span>
              <% end %>
              <% i += 1 %>
            <% end %>
          </p>
        <% elsif %>
          <p></p>
        <% end %>
      </div>
      <div style="margin:0;">
        <p>나이</p>
        <p><span class="my-skinpro-a"><%= current_user.age %></span></p>
      </div>
  </div>
</div>
<div class="m_top3">
  <div class="m_3" >
    <p class="m_3_p">그루밍 설명서 <span class="btn_mmore">더보기</span></p>
    <div class="m_3_in">
      <% @manuals.each do |manual| %>
        <div class="m_3_in_w">
          <div class="m_3_in_img">
            <%= link_to image_tag(manual.image.url(:thumb)), manual_path(manual) %>
          </div>
          <div class="m_3_in_t">
            <p class="m_t_t"><%= manual.title %></p>
            <p class="m_t_t2">
              <%
                box = ['주름', '피지', '잡티', '모공', '탄력저하', '아토피', '여드름',
                       '건조', '뾰루지', '각질', '기미', '다크써클', '두피여드름', '두피각질',
                       '탈모', '바디여드름', '바디각질', '바디건조']
                key = ['wrinkle', 'sebum', 'stain', 'bigpore', 'down', 'atopy', 'pimple',
                       'skindry', 'eruption', 'deadcell', 'freckle', 'dark', 'hairpimple',
                       'haircell', 'hairlose', 'bodypimple', 'bodycell', 'bodydry']
                i = 0
                color = [ "#80d4f6", "#ffda8e", "#f1bbba", "#f8ecc9" ]
              %>
              <% key.each do |k| %>
                <% if manual[k] == true %>
                  <span class="m_t_s" style="background: <%= color.sample %>"><%= box[i] %></span>
                <% end %>
                <% i += 1 %>
              <% end %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="m_3mid">

  </div>
  <div class="m_3">
    <p class="m_3_p">맞춤 제품 <span class="btn_mmore">더보기</span></p>
    <div class="m_3c">
      <% if current_user.userspec != nil %>
        <% @products.each do |product| %>
          <div class="m_c_b">
            <div class="m_c_img">
              <%= link_to image_tag(product.image.url(:thumb)), product_path(product) %>
            </div>
            <div class="m_c_tb">
              <span style="color: #555">브랜드 :</span>&nbsp<span><%= product.brand %></span><br>
              <span style="color: darkblue; font-size: 1.2em;"><%= product.name %></span>
            </div>
            <div class="m_c_tb2">
              <%
                a = ['dryb', 'normalb', 'oilyb', 'complexb', 'sensitiveb']
                b = ['건성', '일반', '지성', '복합성', '민감성']
                type = ""
                for i in 0..4
                  if product[a[i]] == true
                    type = b[i]
                  end
                end
              %>
              <span class="m_t_s2" style="background: hotpink;"><%= @userspec.skintype %></span>
            </div>
            <div class="m_c_tb3">
              <%
                pr = product.price.to_s
                rpr = ""
                if pr.length == 4
                  rpr = pr[0] + "," + pr[1..3]
                elsif pr.length == 5
                  rpr = pr[0..1] + "," + pr[2..4]
                elsif pr.length == 6
                  rpr = pr[0..2] + "," + pr[3..5]
                end
              %>
              <span><%= rpr %></span>&nbsp<span style="font-size: 24px;">₩</span>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="myp-txt-p"><span style="color: darkblue;">나만의 분석</span>을 통해 설문을 진행 해 보세요 :)</p>
      <% end %>
    </div>
  </div>

</div>
