<div class="home-box home-box1">
  <p class="main-comm">나만의 파우치를<br>바로 지금 만들어보세요.</p>
</div>

<div class="home-box home-box2">
  <div class="home-inner-box main-comm2">
    <p>남자를 위한 나만의 화장품, 이제 AI분석을 통한<br>맞춤형 화장품을 만나보세요.</p>
  </div>
  <div class="home-inner-box survey-btn">
    <% if user_signed_in? %>
      <a href="/mypouch" class="inner-btn">지금 분석하기</a>
    <% elsif %>
      <a href="<%= new_user_session_path %>" class="inner-btn">지금 분석하기</a>
    <% end %>
  </div>
</div>

<div class="home-line"></div>

<div class="home-box home-box3">
  <div class="home-hbox">
    <div class="home-t home-title-1">오늘의 설명서</div>
    <a href="/manuals" class="home-more">더보기</a>
  </div>
  <div class="home-article home-manuals">
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @manuals.each do |manual| %>
          <div class="swiper-slide">
            <div class="swiper-img">
              <%= link_to image_tag(manual.image.url(:thumb)), manual_path(manual) %>
            </div>
            <div class="swiper-bottom">
              <div class="sb-fir" style="width: 130px;">
                <span style="font-size: 16px; color: #555;">카테고리</span>&nbsp&nbsp
                <span class="ho-m-ca"><%= manual.category %></span>
              </div>
              <div class="sb-sec" style="width: 190px;">
                <% if manual.title.length > 13 %>
                  <% title = manual.title[0..12]%>
                  <span style="font-size: 16px;"><%= title %>..</span>
                <% elsif %>
                  <span><%= manual.title %></span>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="home-box home-box4">
  <div class="home-hbox">
    <div class="home-t home-title-2">제품랭킹</div>
    <a href="/ranking/index" class="home-more">더보기</a>
  </div>

  <div class="home-article home-rankings">
    <!-- Swiper -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <% @products[0..6].each do |product| %>
          <div class="swiper-slide">
            <div class="swiper-img">
              <%= link_to image_tag(product.image.url(:thumb)), product_path(product) %>
            </div>
            <div class="swiper-bottom">
              <div class="sb-fir">
                <span>브랜드</span>&nbsp&nbsp
                <span style="font-size: 16px; color: black;"><%= product.brand %></span>
              </div>
              <div class="sb-sec">
                <% k = product.score.floor() %>
                <% k.times do |i|  %>
                  <img class="home-star" src="<%= asset_path 'star.png' %>" alt="">
                <% end %>
                <% (5-k).times do |i| %>
                  <img class="home-star" src="<%= asset_path 'star2.png' %>" alt="">
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
        },
      });
    </script>
  </div>
</div>
