<div class="am_top3">
  <div class="am_3" >
    <p class="am_3_p">카텍고리별 제품 랭킹을 확인해보세요</p>

    <div class="am_3_in">
      <% index = 1 %>
      <% @products.each do |product| %>      
        <h1> <%= index%> </h1>
        <div class="am_3_in_w">
          <div class="am_3_in_img">
            <%= link_to image_tag(product.image.url(:thumb)), product %>

          </div>
          <div class="am_3_in_t">
            <p class="am_t_t"><%=product.name%></p>
<!--             <p>카테고리 : <%= product.category %></p> -->
            <p>브랜드 : <%= product.brand %></p>
            <h3>가격 : <%= product.price %> 원</h3>
            <p class="am_t_t2">
            <% k = product.score.floor()  %>
              <%
                box = ['주름', '피지', '잡티', '모공', '탄력저하', '아토피', '여드름',
                       '건조', '뾰루지', '각질', '기미', '다크써클', '두피여드름', '두피각질',
                       '탈모', '바디여드름', '바디각질', '바디건조']
                key = ['wrinkle', 'sebum', 'stain', 'bigpore', 'down', 'atopy', 'pimple',
                       'skindry', 'eruption', 'deadcell', 'freckle', 'dark', 'hairpimple',
                       'haircell', 'hairlose', 'bodypimple', 'bodycell', 'bodydry']
                i = 0
                color = [ "#80d4f6", "#ffda8e", "#f1bbba", "#f8ecc9" ]
              %>
              <% key.each do |k| %>
                <% if product[k] == true %>
                  <span class="am_t_s" style="background: <%= color.sample %>"><%= box[i] %></span>
                <% end %>
                <% i += 1 %>
              <% end %>
            </p>
            <span style="font-size: 1.7em;"><%= product.score %></span>&nbsp&nbsp
            <span style="font-size: 1.2em; color: red;"><%= '♥'*k %></span>
            <span style="font-size: 1.2em; color: #afafaf;"><%= '♥'* (5-k)%></span>
            &nbsp&nbsp(<%= product.reviews.count %>)            
          </div>
        </div>
        <% index += 1 %>
        <hr>
      <% end %>
    </div>
  </div>
</div>

