

<div class="manu_top1">
  <span class="manu_t1">RANKING</span><br>
  <ul>
    <li class="manu_t2"><a class="" href="<%= ranking_index_path %>">All&nbsp ∙ &nbsp</a></li>
    <li class="manu_t2"><a class="" href="/ranking/category/<%= '피부'  %>">피부&nbsp ∙ &nbsp</a></li>
    <li class="manu_t2"><a class="" href="/ranking/category/<%= '화장' %>">화장&nbsp ∙ &nbsp</a></li>
    <li class="manu_t2"><a class="" href="/ranking/category/<%= '헤어' %>">헤어&nbsp ∙ &nbsp</a></li>
    <li class="manu_t2"><a class="" href="/ranking/category/<%= '바디' %>">바디</a></li>
  </ul>
</div>