<%= form_for(manual) do |f| %>
  <% if manual.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manual.errors.count, "error") %> prohibited this manual from being saved:</h2>

      <ul>
      <% manual.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label :category %>
      <%= f.select(:category, ['피부', '화장', '헤어', '바디'] , {}, { :class => 'form-control input-select'}) %>
    </div>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title ,class: "form-control input-text"%>
    </div>
    <div class="field">
      <p >썸네일 이미지 </p>
      <p ><%= f.file_field :image %></p>
    </div>
  </div>

  <div class="field new-form-line">
    <%= f.cktext_area :content %>
  </div>


  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label "직업" %>
      <%= f.select( :job, ['대학생', '고등학생', '영업직', '비즈니스맨'], {}, { :class => 'form-control input-select'}) %>
    </div>
    <div class="field">
      <%= f.label "나이" %>
      <%= f.select( :age, ['10대', '20대초반', '20대후반', '30대초반', '30대후반', '40대이상'],  {}, { :class => 'form-control input-select'}) %>
    </div>
  </div>

  <h3>사용자 유형</h3>
  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label "무관심형" %>
      <%= f.check_box :notcare, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "피부기초케어형" %>
      <%= f.check_box :basecare, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "피부심화케어형" %>
      <%= f.check_box :hardcare, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "적극적화장형" %>
      <%= f.check_box :beautyman, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "아이돌형" %>
      <%= f.check_box :idol, class: "spec-detail" %>
    </div>
  </div>

  <h3>피부 타입 점수</h3>
  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label "건성" %>
      <%= f.number_field :dry, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "일반피부" %>
      <%= f.number_field :normal, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "지성" %>
      <%= f.number_field :oily, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "복합성" %>
      <%= f.number_field :complex, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "민감성" %>
      <%= f.number_field :sensitive, class: "spec-detail" %>
    </div>
  </div>


  <h3>피부 타입</h3>
  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label "건성" %>
      <%= f.check_box :dryb, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "일반피부" %>
      <%= f.check_box :normalb, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "지성" %>
      <%= f.check_box :oilyb, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "복합성" %>
      <%= f.check_box :complexb, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "민감성" %>
      <%= f.check_box :sensitiveb, class: "spec-detail" %>
    </div>
  </div>

  <h3>피부 특성</h3>
  <div class="d-flex justify-content-start new-form-line">
    <div class="field">
      <%= f.label "주름" %>
      <%= f.check_box :wrinkle, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "피지" %>
      <%= f.check_box :sebum, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "잡티" %>
      <%= f.check_box :stain, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "모공 확장" %>
      <%= f.check_box :bigpore, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "탄력 부족" %>
      <%= f.check_box :down, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "아토피" %>
      <%= f.check_box :atopy, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "여드름" %>
      <%= f.check_box :pimple, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "피부 건조" %>
      <%= f.check_box :skindry, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "뾰루지" %>
      <%= f.check_box :eruption, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "각질" %>
      <%= f.check_box :deadcell, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "기미" %>
      <%= f.check_box :freckle, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "다크써클" %>
      <%= f.check_box :dark, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "두피 여드름" %>
      <%= f.check_box :hairpimple, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "두피 각질/비듬" %>
      <%= f.check_box :haircell, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "탈모" %>
      <%= f.check_box :hairlose, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "바디 여드름" %>
      <%= f.check_box :bodypimple, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "바디 각질" %>
      <%= f.check_box :bodycell, class: "spec-detail" %>
    </div>
    <div class="field">
      <%= f.label "바디 건조" %>
      <%= f.check_box :bodydry, class: "spec-detail" %>
    </div>
  </div>

  <div align="center">
    <div class="actions">
      <%= f.submit "작성", class:"btn btn-secondary" %>
      <%= link_to '취소', manuals_path, class:"btn btn-secondary" %>
    </div>
  </div>
<% end %>
