

<div class ="showbox">
	<div class="show-wrap">
		<div class="some_img">
			<%= link_to image_tag(@product.image.url(:thumb)), @product %>
		</div>

        <p class="brand_name"><%= @product.brand %></p>
        <p class="pro_name"><%=@product.name%></p>


        <% k = @product.score.floor()  %>
		<p class = "score">평점 :
	        <span style="color: red;"><%= '♥'*k %></span>
	        <span style="color: #afafaf;"><%= '♥'* (5-k)%></span>
			<span><%= @product.score %></span>&nbsp&nbsp

	        (<%= @product.reviews.count %>&nbsp)
	    </p>
				<%
					pr = @product.price.to_s
					rpr = ""
					if pr.length == 4
						rpr = pr[0] + "," + pr[1..3]
					elsif pr.length == 5
						rpr = pr[0..1] + "," + pr[2..4]
					elsif pr.length == 6
						rpr = pr[0..2] + "," + pr[3..5]
					end
				%>
        <p class="price_tag">정가 : <%= rpr %> 원</h3>
        <hr>

	  <div class="show-body">
	    <%= @product.contents.html_safe %>
	  </div>

	  <hr>



	  <div class="show-comments" >
	    <% @product.reviews.each do |r| %>
	      <div class="comments-line d-flex justify-content-center">
	        <div class="comments-line-left">
	          <strong><%= r.user.nickname %></strong>
	          <!--별선택 했을 때와 안했을 때 댓글 폼의 차이를 주는 함수-->
	          <% n = r.rating %>
	          <% if r.rating == nil then %>
	            <span class="comments-contents"><%= r.review %></span>
	          <% else %>
	            <span class="comments-contents"><%= '★'*n %>&nbsp&nbsp|&nbsp&nbsp<%= r.review%></span>
	          <% end %>
	        </div>
	        <% if current_user == r.user %>
	          <div class="comments-line-middle">
	            <%= time_ago_in_words(r.created_at) %> 전
	          </div>

	          <div class="comments-line-right">
	            <a class="delete-comment" href="<%= product_review_path(@product, r) %>" data-method="delete" data-confirm="정말로 삭제하시겠습니까?">x</a>
	          </div>
	        <% else %>
	          <div class="comments-line-middle comments-line-middle-not">
	            <%= time_ago_in_words(r.created_at) %> 전
	          </div>
	        <% end %>
	      </div>
	    <% end %>
	    <%= render "/reviews/form" %>
	  </div>
	</div>
</div>
