<!DOCTYPE html>
<html>
  <head>
    <title>MAN'S POUCH</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/application.css">
    <!-- swiper -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.esm.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.esm.bundle.js"></script>
  </head>

  <body>
    <div class="left-box">
      <div class="left-logo">
        <a href="/"><img src='<%= asset_path 'manslogo.png'%>' alt=""></a>
      </div>

      <div class="left-user">
        <% if user_signed_in? %>
          <ul>
            <li><a href="/mypouch">My 파우치</a>&nbsp&nbsp·</li>
            <li><%= link_to "로그아웃", destroy_user_session_path, method: :delete %></li>
          </ul>
        <% elsif %>
          <ul>
            <li><%= link_to "로그인", new_user_session_path %>&nbsp&nbsp·</li>
            <li><%= link_to "회원가입", new_user_registration_path %></li>
          </ul>
        <% end %>
      </div>

      <div class="left-search">
      </div>

      <div class="left-nav">
        <ul>
          <% if current_user != nil %>
            <li><a class="" href="<%= manuals_path %>">그루밍 설명서</a></li>
          <% elsif %>
            <li><a class="" href="<%= manuals_path %>">그루밍 설명서</a></li>
          <% end %>

          <% if user_signed_in? && (current_user.userspec != nil) %>
            <li><a class="" href="/custom">맞춤 제품</a></li>
          <% elsif user_signed_in? %>
            <li><a class="" href="/mypouch">맞춤 제품</a></li>
          <% elsif %>
            <li><a class="" href="<%= new_user_session_path %>">맞춤 제품</a></li>
          <% end %>
          <li><a class="" href="/ranking/index">제품 랭킹</a></li>
          <li><a class="" href="/shopping/index">스토어</a></li>
          <% if user_signed_in? %>
            <% if current_user && current_user.roles.first.name == 'admin' %>
              <li><a class="nav-item nav-link active" href="/products">제품등록</a></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="main-container">
      <img src="" alt="" class="deco-img">
      <%= yield %>
    </div>

    <!--
    <%= asset_path 'mans-logo.png'%>
    <footer>
      <div class="container d-flex align-items-center">
        <div style="width: 100%; height: auto;">
          <div class="footer-box1 d-flex justify-content-center">
            <ul class="footer-info">
              <li><span class="span-right">주식회사 남자의파우치</span><span class="span-left">소재지: 서울특별시 광진구 화양동 421-2 202호</span></li><br>
              <li><span class="span-right">대표전화: 010-0000-0000</span>|<span class="span-left">전자우편: coutact@manspouch.co.kr</span></li>
              <li><span class="span-right">사업자등록번호: 211-12-12121</span>|<span class="span-left">통신판매업신고번호: 제2018-서울강남-00123호</span></li>
            </ul>

            <ul class="footer-icon d-flex justify-content-left">
              <li><a href="#"><i class="fab fa-facebook"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>

          <div class="footer-box2 d-flex justify-content-left">
            <p class="copyright">
              CopyrightⓒMANSPOUCH Inc. All Rights Reserved.
            </p>
            <p class="footer-logo">MANSPOUCH</p>
          </div>
        </div>
      </div>
    </footer> -->
  </body>
</html>
